
.pricing {
  position: relative;
  background: #1fa97f;
  width: 280px;
  top: 50%;
  left: 50%;
  margin: 0px 0 0 -140px;
  padding: 40px 0 20px;
  color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 993px) {
  .pricing{
 margin-bottom: 50px; 
 }
}
.pricing .thumbnail {
  background: #fff;
  /* IE Fall */
  background: rgba(255, 255, 255, 0.2);
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 36px;
  line-height: 90px;
  text-align: center;
}
.pricing .title {
  cursor: pointer;
  background: #1fbb7f;
  margin: 40px 0 0;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.pricing .content {
  display: none;
}
.pricing .content .sub-title {
  background: #eee;
  padding: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.pricing .content ul {
  list-style: none;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #666;
  font-size: 14px;
}
.pricing .content ul li {
  padding: 10px 20px;
}
.pricing .content ul li:nth-child(2n) {
  background: #f3f3f3;
}
.pricing .content ul li .fa {
  width: 16px;
  margin-right: 10px;
  text-align: center;
}
.pricing .content ul li .fa-check {
  color: #2ecc71;
}
.pricing .content ul li .fa-close {
  color: #e74c3c;
}
.pricing .content a {
  display: block;
  background: #1fbb7f;
  max-width: 80px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.pricing .content a:hover {
  background: #34495e;
  /* IE Fallback */
  background: rgba(52, 73, 94, 0.7);
}
.clickMe {
  background: #fff;
  /* IE Fallback */
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 180px;
  left: -60px;
  padding: 5px 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #1fa97f;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
}
.clickMe:before {
  content: '';
  position: absolute;
  top: 6px;
  right: -5px;
  width: 0px;
  height: 0px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  /* IE Fallback */
  border-left: 5px solid rgba(255, 255, 255, 0.8);
}
/*******/
.logo-left img
{
  width: 90px;
  height:90px;
}
.navbar-brand img{
  height: 100%;
}
.navbar{
  z-index:50;position:fixed;width:100%;
}
/*.navbar.navbar, .navbar-colored.navbar{
    background: rgb(255,255,255) !important;
  color:rgba(52,52,52,0.9) !important;

}*/
.btn-primary{
  background-color: #23902a !important;
}
.btn-default{
  background-color: #1fa97f !important;
}

.card{
  display: inherit;
}


.timeline .timeline-items .timeline-item {
    background: #fff;
    padding: 20px;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.1); }
.timeline .timeline-items .timeline-item hr {
    border-top: 1px solid #e98989; }
.timeline .timeline-items .timeline-item a {
    color: #601010; }
.timeline .timeline-items .timeline-item::before {
    border-left-color: rgb(216, 216, 216);
    left: auto;
    right: -11px;
    border-width: 10px 0px 10px 11px; }
.timeline .timeline-items .timeline-item::after {
    border-width: 8px 0 8px 9px;
    border-left-color: #fff;
    right: -8px;
    left: auto; 
  }
.screenshot{
  width: 100%;
}
.screenshots img {
  width: 100%;
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  margin-bottom:20px;
  height:200px;
}

.timeline .timeline-items .timeline-item::after {
  border-width: 8px 0 8px 9px;
  border-left-color: #fff;
  right: -8px;
  left: auto;
}
@media (max-width: 767px){

  .container-fluid>.navbar-header{
    margin-left:0px;
    margin-right:0px;
    width:100%;
  }
  .navbar-right {
    float: left;
    margin:0px;
    width: 100%;
  }
}

.portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}
.card-cascade{
  margin-top: 20px;
  margin-bottom: 20px;
  height:220px;
}
@media (max-width: 768px){
  .card-cascade{
    width: 80%;
    height:200px;
    margin-right: auto;
    margin-left: auto;
  }
}

.card-block{
  padding: 30px;
}

.features-right-image img,
.features-left-image img{
  margin-top:0px;
  height:700px;
  max-width: 2000px;
}


.features-left-image img {
  position: relative;
  float: right;
  margin-right:100px;
}

.features-right-image img {
  position: relative;
  margin-left:100px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: 'Maven Pro', sans-serif;
}

.logo-sprite{
  margin:auto;
  width: calc(14500px / 41);
  height: 200px;
  background-image: url(../img/logosprite.png);
}
